/* Thanks to @brandonb927
   https://gist.github.com/brandonb927/3874012

   Prepending 'only screen and ' to each media query breaks nested media queries */
/* app mobile css */
html {
  background: #fff;
}
.dropdown-menu {
  border-radius: 0;
}
.dropdown-menu > li > a {
  padding: 15px 17px 14px;
  font-size: 14px;
}
.dropdown-menu .divider {
  margin: 0;
}
.tg_page_head .navbar-quick-nav,
.tg_page_head .navbar-toggle {
  display: none;
}
.tg_page_head .container {
  display: block;
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
.tg_page_head .container .navbar-header {
  margin: 0;
}
.tg_page_head .navbar-inverse {
  background: #5682a3;
  border: 0;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11);
  margin: 0;
}
.ios_standalone .tg_page_head .navbar > .container {
  margin-top: 20px;
}
.tg_page_head .navbar > .container .navbar-brand {
  padding: 8px 15px;
  margin-left: 0;
  margin-right: 20px;
  display: block;
  line-height: 0;
  height: auto;
}
.tg_page_head .navbar > .container .navbar-quick-nav .navbar-brand {
  margin-right: 0;
}
.tg_page_head .navbar-menu .navbar-nav.navbar-right {
  margin-right: 0;
}
.tg_page_head .navbar-inverse .navbar-nav > li > a {
  padding-top: 13px;
  padding-bottom: 13px;
  color: #b9cfe3;
  font-size: 13px;
}
.tg_page_head .navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
}
.tg_page_head .navbar-inverse .navbar-toggle {
  border-color: #497495;
  outline: 0;
  border: 0;
}
.tg_page_head .navbar-inverse .navbar-collapse,
.tg_page_head .navbar-inverse .navbar-form {
  border-color: #497495;
}
.tg_page_head .navbar-inverse .navbar-toggle:active,
.tg_page_head .navbar-inverse .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.tg_page_head .navbar > .container .navbar-brand {
  padding-left: 9px;
  outline: none;
}
.ios_standalone .modal.mobile_modal {
  border-top: 20px solid #497495;
}
.im_history_panel_edit_link {
  margin-right: 0;
}
.navbar-header {
  float: none;
}
.navbar-toggle-wrap {
  float: right;
  display: block;
  margin: 0;
}
.navbar-toggle-wrap .navbar-toggle {
  float: none;
  display: block;
  margin: 0;
  padding: 12px 20px 11px;
  border-radius: 0;
}
.tg_page_head .navbar-inverse .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
}
.tg_page_head .navbar-inverse .open .navbar-toggle {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar_peer_not_selected .navbar-toggle-wrap .navbar-toggle {
  padding: 16px 17px;
}
.navbar-toggle-wrap .navbar-toggle .icon-bar {
  background-color: #d7e5f0;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  margin-left: 6px;
  margin-right: 6px;
}
.navbar-toggle-wrap .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
.navbar_peer_not_selected .navbar-toggle-wrap .navbar-toggle .icon-bar {
  background-color: #fefeff;
  width: 21px;
  height: 2px;
  border-radius: 1px;
  margin-left: 0;
  margin-right: 0;
}
.navbar-toggle-wrap .dropdown-menu {
  margin-top: 6px;
  right: -40px;
  left: auto;
  width: 195px;
}
.navbar_peer_not_selected .navbar-toggle-wrap .dropdown-menu,
.tg_modal_head .navbar-toggle-wrap .dropdown-menu {
  right: 6px;
}
.navbar-toggle-wrap .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggle .dropdown-toggle {
  display: block;
}
.navbar-search-wrap {
  display: none;
  float: right;
  margin: 0;
  line-height: 0;
  padding: 12px 14px 11px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-search-wrap:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.icon-search {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(../img/icons/MobileIcons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.is_2x .icon-search {
  background-image: url(../img/icons/MobileIcons_2x.png);
  background-size: 21px 52px;
}
.tg_page_head .navbar_peer_not_selected .navbar-search-wrap,
.tg_modal_head .navbar-search-wrap {
  display: block;
}
.navbar_peer_not_selected .tg_head_peer_menu_wrap {
  display: none;
}
.tg_page_head .navbar-quick-nav {
  display: block;
  float: none;
  margin: 0;
}
.tg_page_head .navbar-quick-nav li {
  float: left;
}
.tg_page_head .navbar-quick-nav a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.icon-back {
  display: inline-block;
  width: 11px;
  height: 19px;
  vertical-align: text-top;
  opacity: 0.8;
  background-image: url(../img/icons/IconsetW.png);
  background-repeat: no-repeat;
  background-position: -15px -835px;
}
.is_2x .icon-back {
  background-image: url(../img/icons/IconsetW_2x.png);
  background-size: 42px 1171px;
}
.tg_page_head .navbar-quick-nav a:active .icon-back {
  opacity: 1;
}
.tg_page_head .navbar > .container .navbar-brand {
  display: none;
}
.tg_page_head .navbar_peer_not_selected > .container .navbar-brand {
  display: block;
}
.tg_page_head .navbar_offline > .container .navbar-brand.tg_logo_wrap {
  display: none;
}
.tg_page_head .navbar {
  min-height: 46px;
}
.tg_page_head .navbar-inverse .navbar-quick-nav > li > a {
  padding-left: 16px;
  padding: 6px 10px 2px 28px;
  color: #b9cfe3;
  font-size: 13px;
  height: 46px;
  /*&:active,*/
}
.tg_page_head .navbar-inverse .navbar-quick-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-quick-nav .icon-back {
  position: absolute;
  margin-left: -18px;
  margin-top: 8px;
}
.navbar-quick-nav h4 {
  font-size: 15px;
  color: #fff;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.navbar-quick-back-title {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-quick-media-back h4 {
  margin: 9px 0 12px 0;
  line-height: 120%;
}
.navbar-quick-profile-back h4,
.navbar-quick-group-back h4 {
  font-weight: bold;
}
.navbar-quick-profile-back small,
.navbar-quick-group-back small {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 0;
}
.navbar-quick-profile-back .status_online,
.navbar-quick-group-back .status_online {
  color: #fff;
}
.navbar-menu {
  display: none;
}
.navbar_offline .navbar-menu {
  display: block;
}
.navbar_offline .navbar-offline {
  float: left;
  margin: 0;
}
.navbar-offline > li > a {
  padding-right: 0;
  padding-left: 0;
}
.navbar-offline-text {
  color: #fff;
  font-size: 15px;
}
.tg_page_head .navbar-inverse .navbar-offline > li > a {
  padding-top: 13px;
  padding-bottom: 12px;
  color: #fff;
  font-size: 15px;
}
.tg_page_head .navbar_offline > .container .navbar-brand {
  margin-right: 0;
}
.navbar_offline .navbar-quick-nav li > a > .navbar-quick-back-title,
.navbar_offline .navbar-search-wrap,
.navbar_offline .navbar-history-edit {
  display: none;
}
.navbar-peer-wrap {
  display: block;
  float: right;
  width: 46px;
  height: 46px;
  padding: 5px;
}
.navbar-peer-wrap img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  overflow: hidden;
}
.navbar-peer-wrap .peer_initials {
  line-height: 36px;
  font-size: 15px;
  border-radius: 18px;
  overflow: hidden;
}
.navbar_peer_not_selected .navbar-peer-wrap {
  display: none;
}
.navbar_history_select .navbar-peer-wrap,
.navbar_history_select .navbar-toggle-wrap {
  display: none;
}
.tg_page_head .navbar-quick-nav li.navbar-quick-right {
  float: right;
}
.tg_page_head .navbar-quick-nav li.navbar-quick-left {
  float: left;
}
.tg_page_head .navbar-quick-nav li.navbar-quick-title {
  position: static;
  float: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 0;
  text-align: center;
}
.tg_page_head .navbar-inverse .navbar-quick-nav > .navbar-quick-right > a,
.tg_page_head .navbar-inverse .navbar-quick-nav > .navbar-quick-left > a {
  font-size: 15px;
  color: #fff;
  padding: 14px 15px;
}
.mobile_scrollable_wrap {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.login_head_bg {
  display: none;
}
.login_page {
  margin-top: 0;
  margin-bottom: 30px;
}
.login_head_wrap {
  height: 75px;
  background: #537c9a;
}
.login_form_wrap {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  padding: 44px 40px 44px;
}
.login_footer_about_wrap {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  padding: 44px 40px 44px;
}
.icon-next-submit {
  margin-top: -3px;
}
.im_dialogs_empty_header {
  font-size: 19px;
  margin-bottom: 10px;
}
.im_dialogs_empty_lead {
  font-size: 14px;
  line-height: 160%;
}
.im_dialogs_add_contact,
.im_dialogs_import_phonebook {
  padding: 12px 13px;
}
.im_dialogs_add_contact + .im_dialogs_import_phonebook {
  margin-top: 10px;
}
.im_page_wrap {
  background: none;
  box-shadow: none;
  border: 0;
  overflow: hidden;
}
.im_history_select_active .im_message_outer_wrap:hover,
.im_message_selected {
  background: #e1e9f0;
}
.im_message_body {
  padding: 7px 10px;
  border-radius: 3px;
  background: #f1f1f1;
}
.im_message_out .im_message_body {
  background: #e4ecf2;
}
.im_message_body_media,
.im_message_out .im_message_body_media {
  padding: 0;
  border-radius: 0;
  background: none;
}
.im_message_selected .im_message_body,
.im_message_selected .im_message_document,
.im_message_selected .im_message_audio {
  background: #497495;
  color: #fff;
}
.im_message_selected .im_message_body_media {
  background: none;
  color: inherit;
}
.im_service_message {
  font-size: 13px;
}
.audio_player_button {
  margin-right: 8px;
}
.audio_player_volume_slider .tg_slider_wrap {
  display: none;
}
.audio_player_seek_slider {
  width: 100%;
}
.audio_player_seek_slider .tg_slider_track {
  background: rgba(200, 200, 200, 0.6);
}
.im_message_body_media .im_message_document,
.im_message_body_media .im_message_audio {
  padding: 5px;
  border-radius: 3px;
  background: #f1f1f1;
  margin-top: 0;
}
.im_message_body_media .im_message_game {
  padding: 5px;
  border-radius: 3px;
  background: #f1f1f1;
  margin-top: 0;
}
.im_message_body_media .im_message_game .im_message_webpage_wrap {
  margin-left: 3px;
}
.im_message_body_media .im_message_geopoint {
  width: 200px;
  height: 100px;
}
.im_message_body_media a.im_message_photo_thumb,
.im_message_body_media .im_message_video {
  margin-top: 0;
}
.im_message_out .im_message_body_media .im_message_document,
.im_message_out .im_message_body_media .im_message_audio {
  background: #e4ecf2;
}
.im_message_webpage,
.im_message_webpage_site,
.im_message_webpage_title,
.im_message_webpage_description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 140%;
}
.im_message_webpage_wrap {
  padding-left: 6px;
}
.im_message_document {
  position: relative;
  width: auto;
  max-width: 250px;
}
.im_message_document .icon-document,
.im_message_document_thumb_wrap {
  position: absolute;
}
.im_message_out .im_message_document .icon-document {
  background-color: #e4ecf2;
}
.im_message_document_thumb_wrap {
  background-color: transparent;
  position: absolute;
}
.im_message_document_info {
  float: none;
  margin-left: 43px;
  width: auto;
  min-height: 38px;
}
.im_message_document_info .cancelable_progress_wrap {
  margin-top: 4px;
}
.im_message_document_thumbed .im_message_document_info {
  margin-left: 110px;
  min-height: 100px;
}
.im_message_document_size {
  display: block;
  padding-left: 0;
}
.im_message_document_thumbed .im_message_document_name_wrap,
.im_message_document_name_wrap {
  width: auto;
}
.im_message_document_progress .im_message_document_size {
  display: inline;
}
.im_message_document_progress .im_message_document_name {
  max-width: 50%;
}
.im_message_document_progress.im_message_document_thumbed .im_message_document_name {
  display: inline;
  max-width: none;
}
.im_message_document_thumbed .im_message_document_name {
  white-space: normal;
}
.im_message_video {
  width: auto;
  max-width: 250px;
}
.im_message_audio {
  width: auto;
  max-width: 200px;
}
.im_message_audio .audio_player_title_wrap {
  width: auto;
  font-size: 12px;
}
.im_message_contact {
  width: 200px;
}
.im_message_contact_name,
.im_message_contact_phone {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}
.im_message_document_thumbed .im_message_upload_progress_wrap,
.im_message_document_thumbed .im_message_download_progress_wrap {
  width: 130px;
}
.im_message_text {
  line-height: 140%;
  font-size: 13px;
}
.img_gif_label,
.img_gif_size,
.im_message_video_duration {
  font-size: 13px;
}
a.im_message_video_thumb {
  margin-right: 0;
}
img.im_message_video_thumb,
.img_gif_thumb {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}
.im_grouped .im_message_body {
  margin-left: 0;
}
.im_history_panel_wrap {
  display: none;
  margin: 0 15px;
}
.im_send_panel_wrap {
  padding: 10px 0 12px;
}
.im_history_scrollable_wrap.im_history_to_bottom {
  overflow: hidden;
  position: relative;
}
.im_history {
  position: static;
}
.icon-select-tick {
  margin: 10px 0 0 -24px;
}
.im_message_wrap {
  padding: 0 8px;
}
.im_content_message_wrap {
  font-size: 15px;
  float: left;
  position: relative;
  margin: 8px 0 8px;
  max-width: 100%;
}
.im_content_message_wrap.im_message_out {
  padding-left: 80px;
  padding-right: 0;
  float: right;
}
.im_content_message_wrap.im_message_in {
  padding-left: 0;
  padding-right: 60px;
}
.im_history_messages_group .im_content_message_wrap.im_message_in,
.im_history_messages_group .im_grouped_short .im_content_message_wrap.im_message_in,
.im_history_messages_group .im_grouped .im_content_message_wrap.im_message_in {
  padding-left: 45px;
}
.im_grouped_short .im_content_message_wrap,
.im_grouped .im_content_message_wrap {
  margin-top: 0;
}
.im_message_reply_wrap {
  margin-top: 2px;
}
.im_message_reply_author {
  font-weight: normal;
  font-size: 13px;
}
.im_message_reply_body {
  font-size: 12px;
}
.im_message_fwd_header {
  font-size: 12px;
}
.im_message_meta {
  float: none;
  position: absolute;
  bottom: 5px;
  left: 100%;
  white-space: nowrap;
  margin-left: -60px;
  width: 60px;
  padding: 0 0 0 8px;
}
.im_message_out .im_message_meta {
  width: 80px;
  left: 0;
  text-align: right;
  margin-left: 0;
  padding: 0 8px 0 0;
}
.im_message_views {
  top: -12px;
  font-size: 10px;
}
.im_message_out .im_message_views {
  right: 0;
}
.im_message_date {
  font-size: 10px;
  line-height: 12px;
  padding: 0;
  display: block;
}
.im_message_edited {
  display: block;
  margin-top: 4px;
}
.im_message_date_text {
  display: block;
  margin-top: 3px;
}
.im_message_out .im_message_fwd_date {
  color: #93a2ae;
}
.im_message_out .icon-document {
  background-color: #dae6f0;
  background-position: -2px -542px;
}
.im_message_out .im_message_document_size,
.im_message_out .audio_player_duration,
.im_message_out .audio_player_size,
.im_message_out .im_message_fwd_date,
.im_message_selected .im_message_document_size,
.im_message_selected .audio_player_duration,
.im_message_selected .audio_player_size,
.im_message_selected .im_message_fwd_date,
.im_message_focus .im_message_document_size,
.im_message_focus .audio_player_duration,
.im_message_focus .audio_player_size,
.im_message_focus .im_message_fwd_date,
.im_history_select_active .im_message_outer_wrap:hover .im_message_document_size,
.im_history_select_active .im_message_outer_wrap:hover .audio_player_duration,
.im_history_select_active .im_message_outer_wrap:hover .audio_player_size,
.im_history_select_active .im_message_outer_wrap:hover .im_message_fwd_date {
  color: #68839c;
}
.im_message_from_photo,
.im_message_fwd_photo {
  width: 40px;
  height: 40px;
}
a.im_message_from_photo {
  margin: 0;
  display: none;
}
.im_history_messages_group a.im_message_from_photo {
  display: block;
  position: absolute;
  margin-left: -45px;
}
a.im_message_author_via {
  color: #323232;
  display: block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 3px;
}
.im_message_out a.im_message_author_via {
  margin-left: 0;
}
a.im_message_author_via .im_message_fwd_author {
  color: inherit;
}
.im_message_author {
  display: none;
}
.im_message_author_admin {
  display: none;
}
.im_history_messages_group a.im_message_author {
  display: inline;
  font-size: 13px;
  font-weight: normal;
}
.im_history_messages_group .im_message_author_admin {
  display: inline;
  font-size: 13px;
}
.im_history_messages_group .im_message_sign_link {
  font-size: 12px;
}
.im_service_message a.im_message_author {
  display: inline;
  font-size: 13px;
  font-weight: normal;
}
.im_grouped_short a.im_message_from_photo,
.im_grouped_short a.im_message_author,
.im_grouped_short .im_message_author_admin,
.im_grouped_short a.im_message_author_via,
.im_grouped a.im_message_from_photo,
.im_grouped a.im_message_author,
.im_grouped a.im_message_author_via,
.im_grouped a.im_message_author_admin,
.im_grouped_fwd a.im_message_from_photo,
.im_grouped_fwd a.im_message_author,
.im_grouped_fwd a.im_message_author_via,
.im_grouped_fwd a.im_message_author_admin,
.im_grouped_fwd_short a.im_message_from_photo,
.im_grouped_fwd_short a.im_message_author,
.im_grouped_fwd_short a.im_message_author_via,
.im_grouped_fwd_short a.im_message_author_admin,
.im_message_out a.im_message_from_photo,
.im_message_out a.im_message_author,
.im_message_out a.im_message_author_admin,
.im_message_body_media a.im_message_author,
.im_message_body_media a.im_message_author_admin {
  display: none;
}
.im_message_wrap {
  padding: 0 7px;
}
.im_message_out .icon-message-status {
  border: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 18px;
  border-radius: 7px;
  position: static;
  vertical-align: text-top;
  margin-right: 2px;
  opacity: 1;
  margin-top: 1px;
  background: none;
}
.im_message_unread .icon-message-status {
  background: #43A4DB;
}
.im_message_pending .icon-message-status {
  background: #9fd2ee;
}
.im_dialogs_search_field,
.contacts_modal_search_field {
  font-size: 1.2em;
}
.im_edit_start_actions {
  text-align: center;
}
.im_edit_selected_actions {
  text-align: center;
}
.im_edit_delete_btn,
.im_edit_forward_btn,
.im_start_btn {
  border-radius: 2px;
  font-weight: normal;
  line-height: 18px;
  background: none !important;
  border: 0 !important;
  width: 50%;
  margin: 0;
  font-size: 15px;
  padding: 13px 0;
}
.im_edit_forward_btn {
  color: #497495 !important;
}
.im_edit_delete_btn {
  color: #c3584d !important;
}
.im_start_btn {
  color: #497495 !important;
}
.im_edit_delete_btn strong,
.im_edit_forward_btn strong {
  font-weight: normal;
}
.im_edit_panel_wrap {
  padding: 5px 0;
  margin: 0;
}
.im_dialogs_col_wrap {
  border: 0;
  padding-bottom: 0;
}
.im_dialogs_col_wrap,
.im_history_col_wrap {
  float: none;
  width: auto;
  max-width: auto;
  min-width: auto;
}
.im_dialogs_col_wrap,
.im_page_peer_not_selected .im_history_col_wrap {
  display: none;
}
.im_page_peer_not_selected .im_dialogs_col_wrap {
  display: block;
}
.im_dialogs_panel {
  display: none;
  padding-left: 9px;
  padding-right: 9px;
}
.im_dialogs_panel.im_dialogs_panel_search {
  display: block;
}
.im_page_split .im_dialogs_search {
  margin-right: 0;
}
.im_dialogs_scrollable_wrap a.im_dialog {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-top: -1px;
  border-radius: 0 !important;
  padding-right: 11px;
}
.im_dialog_wrap:last-child a.im_dialog {
  border-bottom: 0;
}
.im_dialog_photo {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
}
div.im_dialog_photo {
  margin: 0 12px 0 0;
}
div.im_dialog_photo .peer_initials {
  line-height: 54px;
  font-size: 18px;
}
.im_dialog_peer,
.im_dialog_message {
  font-size: 1.3em;
}
.im_dialog_peer {
  margin-bottom: 7px;
  margin-top: 5px;
}
.im_dialog_meta {
  margin-top: 6px;
}
.im_dialog_date,
a.im_dialog:hover .im_dialog_date,
a.im_dialog_selected .im_dialog_date {
  color: #b3b3b3;
  font-size: 12px;
  margin-right: 3px;
}
.im_dialog_message_wrap {
  height: 51px;
}
.im_dialog_unread,
.active .im_dialog_unread,
a.im_dialog:hover .im_dialog_unread,
a.im_dialog_selected .im_dialog_unread {
  background: #7cacc7;
}
.im_dialog_message_text,
a.im_dialog:hover .im_dialog_message_text,
a.im_dialog_selected .im_dialog_message_text {
  color: #8f8f8f;
}
.im_message_fwd_title {
  display: none;
}
.im_grouped_fwd_start .im_message_fwd_title {
  display: block;
  color: #8a8a8a;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 5px;
}
.im_history_messages_group .im_message_in .im_message_fwd_title {
  margin-top: 5px;
}
.im_message_out .im_message_fwd_title {
  color: #798791;
}
.im_message_selected .im_message_body a,
.im_message_selected .im_message_fwd_title,
.im_message_selected .im_message_fwd_date,
.im_message_selected .im_message_document_name,
.im_message_selected .im_message_document_size,
.im_message_selected .audio_player_title,
.im_message_selected .audio_player_duration,
.im_message_selected .audio_player_size,
.im_history_select_active .im_message_selected:hover .im_message_document_size,
.im_history_select_active .im_message_selected:hover .audio_player_duration,
.im_history_select_active .im_message_selected:hover .audio_player_size,
.im_history_select_active .im_message_selected:hover .im_message_fwd_date {
  color: #fff;
}
a.im_message_fwd_author {
  color: #323232;
}
.im_dialogs_scrollable_wrap a.im_dialog:hover,
.im_dialogs_scrollable_wrap a.im_dialog_selected,
.im_dialogs_scrollable_wrap .active a.im_dialog,
.im_dialogs_scrollable_wrap .active a.im_dialog:hover,
.im_dialogs_scrollable_wrap .active a.im_dialog_selected {
  border-radius: 0;
  background-color: #f4f4f4;
}
.mobile_modal.modal {
  background: #fff;
  padding: 0;
}
.mobile_modal.md_simple_modal_window .modal-dialog {
  max-width: none;
}
.mobile_modal .modal-content {
  border-radius: 0;
  box-shadow: none;
}
.mobile_modal .modal-content .modal-body {
  padding-left: 0;
  padding-right: 0;
}
.mobile_modal .modal-dialog {
  margin: 0 auto;
}
.mobile_modal .modal-footer {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 9px;
}
.mobile_modal_body,
.mobile_modal .modal-content .mobile_modal_body {
  padding: 9px;
}
.mobile_user_modal_photo_profile_wrap {
  padding: 3px;
  margin-bottom: 15px;
}
.mobile_user_modal_image_wrap {
  display: block;
  width: 64px;
  height: 64px;
  margin-right: 14px;
}
.mobile_user_modal_image_wrap .peer_initials {
  line-height: 64px;
  font-size: 18px;
}
.mobile_chat_modal_image {
  margin-right: 14px;
  float: left;
}
.mobile_user_modal_image {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 32px;
}
.mobile_user_modal_info_wrap {
  padding-top: 2px;
}
.mobile_user_modal_header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 11px;
}
.mobile_user_modal_status {
  font-size: 14px;
  color: #999;
}
.mobile_modal_action_wrap {
  border-bottom: 1px solid #e0e0e0;
}
.mobile_modal_select_wrap {
  margin: 7px 12px 0;
}
a.mobile_modal_action,
span.mobile_modal_action {
  color: #000;
  display: block;
  line-height: 47px;
  font-size: 15px;
  padding: 0 12px;
  margin: 0;
}
span.mobile_modal_upload_action {
  position: relative;
  overflow: hidden;
}
a.mobile_modal_action:hover,
a.mobile_modal_action:active {
  text-decoration: none;
}
a.mobile_modal_action .icon-checkbox-outer {
  float: right;
  margin-top: 16px;
  margin-right: 1px;
}
a.mobile_modal_action .tg_checkbox_label {
  vertical-align: baseline;
  line-height: inherit;
}
.mobile_modal_section {
  display: block;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}
.mobile_modal_section:last-child {
  border-bottom: 0;
}
.mobile_modal_section_header {
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 0;
  color: #999;
  padding: 0 12px;
}
.mobile_modal_section_value {
  font-size: 15px;
  padding: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
}
.mobile_modal_section_body {
  padding: 0 12px;
}
.user_modal_other_btn button {
  padding-right: 0;
}
.user_modal_other_btn .dropdown-menu {
  left: auto;
  right: -9px;
}
.chat_modal_actions_wrap {
  clear: both;
}
.chat_modal_other_btn button {
  padding-right: 0;
}
.chat_modal_other_btn .dropdown-menu {
  left: auto;
  right: -9px;
}
.game_modal_wrap .modal-body {
  padding: 0;
}
.photo_modal_window .modal-content,
.video_modal_window .modal-content {
  border-radius: 0;
}
.media_modal_wrap .modal-body {
  padding: 0 0 0;
}
.media_modal_actions,
.media_modal_info {
  margin: 10px;
}
.im_send_form {
  position: relative;
  left: 0;
  right: 0;
  max-width: none;
}
.im_submit {
  width: 50px;
  min-width: 0;
  height: 32px;
  padding: 0;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.im_submit,
.im_submit:active,
.im_submit:hover {
  color: transparent;
  box-shadow: none;
  background-color: inherit;
  background-image: url(../img/icons/IconsetW.png);
  background-repeat: no-repeat;
  background-position: 2px -860px;
}
.is_2x .im_submit,
.is_2x .im_submit:active,
.is_2x .im_submit:hover {
  background-image: url(../img/icons/IconsetW_2x.png);
  background-size: 42px 1171px;
}
.icon-paperclip,
.icon-mic {
  display: inline-block;
  width: 18px;
  height: 23px;
  vertical-align: text-top;
  opacity: 0.8;
  background-image: url(../img/icons/IconsetW.png);
  background-repeat: no-repeat;
  background-position: -12px -68px;
}
.is_2x .icon-paperclip,
.is_2x .icon-mic {
  background-image: url(../img/icons/IconsetW_2x.png);
  background-size: 42px 1171px;
}
.icon-mic {
  background-position: -12px -285px;
}
.im_voice_recording .icon-mic {
  background-position: -12px -705px;
}
.im_attach {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 50px;
  height: 32px;
  padding: 3px 13px 4px 16px;
  right: auto;
}
.im_attach:active .icon-paperclip {
  background-position: -12px -100px;
  opacity: 1;
}
.im_record {
  display: none;
  right: 0;
  top: -8px;
  width: 50px;
  height: 50px;
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 13px 16px 13px 16px;
  border-radius: 50px;
  overflow: hidden;
  background: #fff;
  transition: background-color linear 0.2s;
}
.im_record_supported .im_send_form_empty .im_record {
  display: block;
}
.im_send_form_hover .im_voice_recording .im_record {
  background: #cae9ff;
}
.im_send_form_empty .im_submit {
  opacity: 0.4;
}
.im_record_supported .im_send_form_empty .im_submit {
  display: none;
}
.im_voice_recorder_wrap {
  height: 32px;
  line-height: 32px;
  right: 50px;
  left: 0;
  padding: 0 0 0 20px;
}
.im_recorder_label {
  padding-right: 48px;
}
.im_voice_recording,
.im_processing_recording {
  color: #AAA;
}
.im_voice_recording .im_voice_recorder_wrap,
.im_processing_recording .im_voice_recorder_wrap {
  display: block;
}
.im_voice_recording .im_send_field_wrap,
.im_processing_recording .im_send_field_wrap,
.im_voice_recording .im_submit,
.im_processing_recording .im_submit,
.im_voice_recording .im_attach,
.im_processing_recording .im_attach {
  display: none;
}
.im_processing_recording .im_recorder_indicator i {
  background-color: green;
}
.im_processing_recording .im_record {
  display: none;
}
.icon-emoji {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: text-top;
  opacity: 1;
  margin: 0;
  background-image: url(../img/icons/IconsetW.png);
  background-repeat: no-repeat;
  background-position: -10px -771px;
}
.is_2x .icon-emoji {
  background-image: url(../img/icons/IconsetW_2x.png);
  background-size: 42px 1171px;
}
.composer_emoji_insert_btn {
  top: 3px;
  right: 5px;
}
.composer_emoji_insert_btn.composer_emoji_insert_btn_on .icon-emoji,
.composer_emoji_insert_btn:active .icon-emoji,
.is_1x .composer_emoji_insert_btn.composer_emoji_insert_btn_on .icon-emoji,
.is_1x .composer_emoji_insert_btn:active .icon-emoji {
  background-position: -10px -803px;
}
.im_send_field_wrap {
  margin-right: 50px;
  margin-left: 48px;
}
.im_send_field_wrap .form-control {
  border-radius: 4px;
}
.composer_rich_textarea {
  min-height: 18px;
  max-height: 136px;
  margin-bottom: 0;
  font-size: 15px;
}
.composer_rich_textarea:empty {
  background: #f1f1f1;
  border-color: #f1f1f1;
}
.composer_rich_textarea:empty:before {
  color: #999;
  margin-top: 1px;
}
.composer_rich_textarea:active,
.composer_rich_textarea:focus {
  box-shadow: none;
  outline: 0;
  background: #fff;
  border-color: #d9dbde;
  content: none;
}
.composer_emoji_tooltip {
  margin-left: -246px;
  margin-top: -181px;
  z-index: 10000;
}
.composer_emoji_tooltip_tab {
  line-height: 15px;
  font-size: 11px;
}
.composer_emoji_tooltip .scroller_native_scrollable {
  height: 117px;
}
.composer_emoji_tooltip_tabs_wrap,
.composer_emoji_tooltip_tab_emoji_content,
.composer_emoji_tooltip_tab_stickers_content {
  height: 147px;
}
.composer_emoji_tooltip_category {
  padding-top: 3px;
  padding-bottom: 3px;
}
.composer_emoji_tooltip_tab_stickers_content .composer_emoji_tooltip_categories .composer_sticker_btn {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
.composer_emoji_tooltip_tail {
  display: none;
  left: 18px;
}
.composer_dropdown_wrap {
  box-shadow: none;
}
.composer_dropdown a.composer_command_option,
.composer_dropdown a.composer_mention_option {
  padding: 5px 12px;
  font-size: 12px;
  line-height: 25px;
}
.composer_user_name,
.composer_user_mention {
  line-height: 25px;
}
span.composer_user_photo,
img.composer_user_photo {
  width: 25px;
  height: 25px;
}
.composer_dropdown a.composer_emoji_option {
  padding: 5px 12px;
  font-size: 13px;
  line-height: 26px;
}
.composer_dropdown a.composer_emoji_option .emoji {
  vertical-align: top;
}
.composer_emoji_shortcut {
  line-height: 26px;
}
.contacts_modal_search {
  margin: -9px -9px 0;
}
.contacts_modal_col {
  margin: 0 -9px;
}
.contacts_modal_members_list a.contacts_modal_contact {
  padding: 8px 9px;
  border-radius: 0;
  border-bottom: 1px solid #eee;
}
.contacts_modal_members_list a.contacts_modal_contact:hover {
  background: inherit;
}
.contacts_modal_members_list li.contacts_modal_contact_wrap {
  margin: 0;
}
.contacts_modal_members_list li:last-child a {
  border-bottom: 0;
}
.modal-content .sessions_modal_wrap .mobile_modal_body {
  padding: 0;
}
.sessions_modal_session {
  padding: 8px 15px;
}
.sessions_modal_terminate_all_wrap {
  margin-left: 15px;
}
.mobile_modal .peer_select_modal_wrap .modal-body {
  padding: 0;
}
.settings_about_section_body {
  padding-right: 0;
}
.countries_modal_search {
  padding: 3px 3px 12px;
  margin: 0;
  position: relative;
}
.countries_modal_col {
  margin: 0 -9px;
}
.countries_modal_members_list {
  padding: 0 12px 0 12px;
}
.countries_scrollable_wrap a.countries_modal_country {
  padding: 8px 8px;
}
.import_modal_phonebook_wrap {
  margin-top: 40px;
  text-align: center;
}
.media_modal_bottom_panel_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 46px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1030;
}
.media_modal_bottom_panel {
  color: #fff;
}
.media_modal_top_panel_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1030;
}
.media_modal_top_panel {
  color: #fff;
}
.media_modal_top_actions .navbar-quick-media-back {
  color: inherit;
  position: relative;
  display: block;
  padding-left: 16px;
  padding: 6px 10px 2px 28px;
  font-size: 13px;
  height: 46px;
}
.media_modal_top_actions .navbar-quick-media-back:hover {
  text-decoration: none;
}
.media_modal_top_actions .navbar-quick-media-back .icon-back {
  position: absolute;
  margin-left: -18px;
  margin-top: 8px;
}
h4.media_modal_title_wrap {
  color: inherit;
  margin: 8px 0 11px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.media_modal_info_wrap {
  line-height: 16px;
  padding: 7px 20px;
  text-align: center;
  max-width: 150px;
  margin: 0 auto;
}
.media_modal_author {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  font-size: 14px;
}
.media_modal_date,
a.media_modal_date:hover {
  font-size: 12px;
  color: #999;
}
.photo_modal_window,
.video_modal_window,
.document_modal_window {
  padding: 0;
  background: #000;
}
.photo_modal_window .modal-content,
.video_modal_window .modal-content,
.document_modal_window .modal-content {
  background: none;
  box-shadow: none;
}
.video_modal_window .modal-body {
  padding: 0;
}
.media_modal_action_btn {
  float: left;
  display: block;
  width: 46px;
  height: 46px;
}
.tg_page_head .navbar-inverse .navbar-quick-nav > .navbar-quick-right > a.media_modal_action_btn,
.tg_page_head .navbar-inverse .navbar-quick-nav > .navbar-quick-left > a.media_modal_action_btn {
  padding: 0;
}
.media_modal_action_btn i {
  display: block;
  opacity: 0.8;
  background-image: url(../img/icons/PhotoIcons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.is_2x .media_modal_action_btn i {
  background-image: url(../img/icons/PhotoIcons_2x.png);
  background-size: 40px 200px;
}
.media_modal_action_btn:active i {
  opacity: 1;
}
.media_modal_action_btn i.media_modal_action_btn_download {
  background-position: -12px -163px;
  width: 16px;
  height: 20px;
  margin: 14px 15px;
}
.media_modal_action_btn i.media_modal_action_btn_forward {
  background-position: -9px -109px;
  width: 23px;
  height: 15px;
  margin: 14px 13px;
}
.media_modal_action_btn i.media_modal_action_btn_delete {
  background-position: -13px -135px;
  width: 14px;
  height: 18px;
  margin: 13px 17px;
}
.stickerset_modal_stickers_list {
  padding: 10px;
}
.stickerset_modal_sticker_wrap,
.stickerset_modal_sticker_wrap img,
.stickerset_modal_sticker {
  width: 90px;
  height: 90px;
}
.message_actions_modal_window {
  max-width: 220px;
  margin: 0 auto;
}
.message_actions_wrap {
  padding: 10px 20px;
}
.im_send_reply_wrap {
  margin-left: 38px;
  margin-right: 10px;
}
.composer_rich_textarea,
.composer_textarea {
  padding-right: 28px;
}
.im_send_field_wrap_2ndbtn .composer_rich_textarea,
.im_send_field_wrap_2ndbtn .composer_textarea {
  padding-right: 35px;
}
.im_inline_placeholder_wrap {
  font-size: 15px;
  line-height: 17px;
  padding: 6px 7px;
  top: 0;
}
.im_send_dropbox_wrap {
  padding: 5px 10px;
  font-size: 15px;
  line-height: 22px;
}
.im_send_field_panel {
  position: relative;
}
.composer_command_btn {
  right: 35px;
  top: 6px;
}
.composer_keyboard_btn {
  right: 35px;
  top: 6px;
}
.im_send_keyboard_wrap {
  padding: 0 5px;
}
.composer_progress_icon_wrap {
  right: 6px;
  top: 4px;
}

